/Lark.Bot.CQA/Lark.Bot.CQA/obj
/Lark.Bot.CQA/Lark.Bot.CQA/bin
/Lark.Bot.CQA/.vs
/BotChan/Temp
/BotChan/Library
/Lark.Bot.CQA/HttpTest/bin
/BotChan/output
/BotChan/*.csproj
/BotChan/*.sln
/coolQ_Bot/data
/coolQ_Bot/logs
/DEV/Lark.Bot.CQA/obj
/DEV/Lark.Bot.CQA/bin
/DEV/TestConsole/bin
/DEV/TestConsole/obj
/DEV/Test/bin
/DEV/Test/obj
/DEV/Infrastructure/obj
/DEV/Infrastructure/bin
/DEV/DTO/bin
/DEV/DTO/obj
/DEV/Data/obj
/DEV/Data/bin
/DEV/Core/obj
/DEV/Core/bin
/DEV/Business/obj
/DEV/Business/bin
/DEV/API/obj
/DEV/API/bin
/DEV/.vs
/BotChan/.vs
