<?xml version="1.0" encoding="gb18030"?>
<Config>
	<警告>非专业人员请勿随意修改，否则插件系统将崩溃！</警告>
	<System>Important data
		<CGGC_OK>查广告词命令已经处理完毕！[n]由于广告词库属于敏感数据，所以将私聊发送给管理员！</CGGC_OK>
		<CGGC_NO>查广告词命令已经处理完毕！[n]当前所有广告词：</CGGC_NO>
		<CHMD_OK>查黑名单命令已经处理完毕！[n]由于黑名单库属于敏感数据，所以将私聊发送给管理员！</CHMD_OK>
		<CHMD_NO>查黑名单命令已经处理完毕！[n]当前所有黑名单：</CHMD_NO>
		<T>踢出命令已经处理完毕！[n]成功踢出：</T>
		<S_OK>删黑名单命令已经处理完毕！[n]成功删除黑名单：</S_OK>
		<S_NO>删黑名单命令已经处理完毕！[n]没有找到黑名单：</S_NO>
		<CK>词库命令已经处理完毕！</CK>
		<GGC>广告词命令已经处理完毕！[n]成功添加：</GGC>
		<SGGC_OK>删广告词命令已经处理完毕！[n]成功删除广告词：</SGGC_OK>
		<SGGC_NO>删广告词命令已经处理完毕！[n]没有找到广告词：</SGGC_NO>
	</System>
</Config>